body {
  height: 95vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: row;
}

#paintingWindow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  background-color: lightblue;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
}

#listOfUsers {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: grey;
  position: relative;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.nameTags {
  border: 1px solid black;
  margin: 1px;
}

.selected {
  background-color: yellow;
}

.mainUser {
  border: 1px solid black;
}
.mainTester {
  border: 1px solid black;
}

.pictureDivs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  padding: 10px;
  background-color: white;
  margin: 10px;
  box-sizing: border-box;
}

.pictureDivs > p {
  text-align: center;
}

.pictureDivs > p {
  word-wrap: break-word;
}

.pictureDivs > img {
  max-width: 50%;
  max-height: 50%;
}

.commonFavoritePictures {
  border: 5px solid red;
}

.favoritePictures {
  border: 5px solid green;
}

.loadingScreen {
  background-color: rgba(0, 0, 0, 0.795);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: white;
}

.timer {
  height: 50px;
  font-size: 15px;
}
